<div class="scroll container">


    <h4 class="animate__animated animate__slideInRight">Habilidades técnicas</h4>

    <div class="row wrapper">

        <div class="col-6 col-lg-3 cajas animate__animated animate__zoomInDown" *ngFor="let habilidad of tecnicas">

            <app-habilidad [habilidad]="habilidad"></app-habilidad>

        </div>

    </div>

    <br>

    <h4 class="animate__animated animate__slideInRight">Habilidades blandas</h4>

    <div class="row wrapper">

        <div class="col-12 col-md-6 col-lg-3 cajas animate__animated animate__zoomInDown" *ngFor="let habilidad of blandas">
            
            <app-habilidad [habilidad]="habilidad"></app-habilidad>
            
        </div>
        
    </div>
</div>