.wrapper{
    display: flex;
}

h4{
    animation-delay: 0.4s;
}

.cajas{
    padding: 0.5rem;
    animation-delay: 0.7s;
}

.caja-complementaria{
    height: 100%;
    background-color: var(--color-fondo); 
}

.title{
    font-size: 1.2rem; 
    color: var(--texto);
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}

.subtitle{
    color: var(--texto-parrafo);
    margin-bottom: 1rem;
    line-height: 1.2rem;
}

.contenido{
    align-items: center;
}

.img{
    width: 50%;
    height: auto;
    border-radius: 15%;
}

.credencial{
    padding: 0.5rem;
    margin: 0 0.2rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--texto);
    text-align: center;
    
    background-color: var(--color-grupo);
    border-radius: 50%;      
    transition: 0.5s;
}

.credencial:hover{
    color: var(--color-2);
    font-size: 1.1rem;
}

.duracion{
    margin-bottom: 0.1rem;
    color: var(--texto-parrafo);
}