<h4 class="animate__animated animate__backInRight">Educacion complementaria</h4>

    <div class="row wrapper">

        <div class="col-12 col-lg-4 cajas animate__animated animate__backInRight" *ngFor="let formacion of complementarios">

            <mat-card class="caja-complementaria">

                <mat-card-header>
                    <mat-card-title class="title"><strong>{{formacion.institucion}}</strong></mat-card-title>
                    <mat-card-subtitle class="subtitle">{{formacion.programa}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="row contenido">
                        <img class="img" [src]="formacion.logo" alt="Imagen instituto">
                        
                        <ng-container *ngIf="formacion.credencial; else elseTemplate">
                            <a class="col credencial" [href]="formacion.credencial" target="_blank">Credencial</a>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <p class="col">En proceso</p>
                        </ng-template>                        
                    </div>

                    <ng-container *ngIf="formacion.duracion; else elseTemplate2">
                        <div class="mt-2">
                            <p class="duracion">Duración: {{formacion.duracion}}</p>
                            <span>{{formacion.fechas}}</span>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate2>
                        <span>{{formacion.fechas}}</span>
                    </ng-template>
                    
                </mat-card-content>
            </mat-card>

        </div>
    </div>