.grupo{
    height: calc(100vh - 7.5rem);
    max-height: calc(100vh - 7.5rem);
    border-radius: 10px;
    animation-delay: 1.5s;
}

@media (max-width: 767px) {
    .grupo{
        height: calc(100vh - 4.5rem);
        max-height: calc(100vh - 4.5rem);
    }
}

mat-tab-group {
    background-color: var(--fondo-contenido) !important;
    padding: 5px;
}  

.mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-mdc-tab-header-with-background-background-color: var(--fondo-contenido);
    --mat-mdc-tab-header-with-background-foreground-color: var(--texto-principal);
}