<mat-tab-group class="grupo mat-elevation-z4 animate__animated animate__backInRight" backgroundColor="primary">
    <mat-tab label="Proyectos"><app-proyectos></app-proyectos></mat-tab>
    <mat-tab label="Habilidades"><app-habilidades></app-habilidades></mat-tab>
    <mat-tab label="Formacion"><app-formacion></app-formacion></mat-tab>
    <mat-tab label="Contáctame"><app-contacteme></app-contacteme></mat-tab>
    <mat-tab label="Hoja de Vida"><app-hoja-de-vida></app-hoja-de-vida></mat-tab>
</mat-tab-group>