.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 2.5rem;
    max-height: 2.5rem;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.29);
    font-size: 1.3rem;
}

.list-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.item-menu{
    padding: 0 1rem;
}

.item-number{
    cursor: default;
    color: var(--color-2);
    padding: 0 .5rem;
}

.cv{
    text-decoration: none;
    font-weight: 600;
}

.hover{
    color: var(--texto);
    transition: 1s;
}

.hover:hover{
    color: var(--color-2);
}