.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 2.5rem;
    max-height: 2.5rem;
    box-shadow: 12.5px 12.5px 10px var(--sombra-menu);
    font-size: 1.3rem;
}

.tema{
    border-radius: 50%;
    color: var(--hover);
    background: var(--tema-b);
    border-color: var(--hover); 
    transition: 0.8s;
}

.tema:hover{
    border-color: var(--tema-bh); 
    background: var(--tema-bh);
    color: var(--tema-lh);
}

.list-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.item-menu{
    padding: 0 1rem;
}

.item-number{
    cursor: default;
    color: var(--hover);
    padding: 0 .5rem;
}

.cv{
    text-decoration: none;
    font-weight: 600;
}

.hover{
    color: var(--texto-principal);
    transition: 1s;
}

.hover:hover{
    color: var(--hover);
}