.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 4rem;
    border-bottom: solid 1px rgb(41, 39, 39);
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.29);
}

.list-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.item-menu{
    padding: 0 1rem;
}