.wrapper{
    margin: 0.5rem ;
}

.icono{
    font-size: 1.8rem;
    margin-right: 0.5rem;
    transition: 1s;
}

.icono:hover{
    color: var(--color-2);
}

.cv {
    border:1px solid var(--color-fondo);
    height: calc(100vh - 15.3rem);
    width: 100%;
}