.card{
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    align-items: center;
}

.title{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.1rem; 
    color: var(--texto);
    font-size: 1rem;
}

.imgcenter{
    padding: 0 1rem;
}

.img{
    margin-top: 0.3rem;
    max-height: 4rem;
    height: auto;
}