.pre-title{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--texto-parrafo);
    font-size: 1.2rem;
}

.title{
    font-size: 2.8rem;
    animation-delay: 0.3s;
    margin: 0;
}

.sub-title{
    animation-delay: 0.6s;
}

.descripcion{
    text-align: justify;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.1rem; 
    letter-spacing: 0.2px;
    color: var(--texto-parrafo);
    animation-delay: 0.9s;
}

.foto-perfil{
    width: 57%;
    margin-left: 21.5%;
    margin-bottom: 0.5rem;
}

.foto-perfil-img{
    animation-delay: 1.2s;
    width: 100%;
    border-radius: 5%;
} 