<div class="pre-title animate__animated animate__fadeInUp">Mi nombre es:</div>
<h1 class="title animate__animated animate__fadeInUp">José Saavedra</h1>
<h4 #asTitle class="sub-title animate__animated animate__fadeInUp"></h4>
<p class="descripcion animate__animated animate__fadeInUp">Desarrollador front end, he contribuido al diseño y la implementación de aplicaciones web y Android, con conocimiento en Angular y Kotlin. Mi enfoque en metodologías SCRUM me permite adaptarme rápidamente a los cambios, solucionar desafíos de código de manera efectiva y asegurar la entrega continua de valor en entornos colaborativos.</p>
<div class="foto-perfil">
    <img src="assets/perfil2.jpg" alt="foto de perfil" class="animate__animated animate__fadeInUp foto-perfil-img">
</div>

