.pre-title{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--texto-parrafo);
    animation-delay: 0.6s;
    font-size: 1.2rem;
}

.title{
    font-size: 2.8rem;
    animation-delay: 1.2s;
    margin: 0;
    margin-top: 0.5rem;
}

.sub-title{
    /* padding: 0.5rem 0; */
    animation-delay: 1.9s;
}

.descripcion{
    margin-top: 1.5rem;
    text-align: justify;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem; 
    letter-spacing: 0.2px;
    color: var(--texto-parrafo);
    animation-delay: 2.5s;
}

hr{
    animation-delay: 3.5s;
    width: 100%;
}

.foto-perfil{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0.5rem;
}

.foto-perfil-img{
    animation-delay: 3s;
    width: 100%;
    border-radius: 5%;
} 