<div class="pre-title animate__animated animate__fadeInUp">Mi nombre es:</div>
<h1 class="title animate__animated animate__fadeInUp">José Saavedra</h1>
<h4 #asTitle class="sub-title animate__animated animate__fadeInUp"></h4>
<p class="descripcion animate__animated animate__fadeInUp">Desarrollador Frontend y Mobile con experiencia en Angular (v11–v17+), Kotlin, integración de APIs y buenas prácticas de UI/UX. He construido apps web responsive, optimizado rendimiento percibido y automatizado flujos de despliegue. Trabajo por objetivos, con mentalidad de pruebas y ciclos cortos (Scrum), priorizando accesibilidad, performance y mantenibilidad.</p>
<div class="foto-perfil">
    <img src="assets/perfil2.jpg" alt="foto de perfil" class="animate__animated animate__fadeInUp foto-perfil-img">
</div>

