<div class="pre-title animate__animated animate__fadeInUp">Hola mi nombre es:</div>
<h1 class="title animate__animated animate__fadeInUp">José Saavedra</h1>
<h4 #asTitle class="sub-title animate__animated animate__fadeInUp"></h4>
<p class="descripcion animate__animated animate__fadeInUp">Soy un desarrollador independiente adaptable a los cambios, solucionador de problemas de código utilizando framework como lo son Angular y SpringBoot, prefiero las metodologías Agile (SCRUM), disfruto programar algoritmos y trabajar en equipo.</p>
<div class="foto-perfil">
    <img src="assets/perfil.jpg" alt="foto de perfil" class="animate__animated animate__fadeInUp foto-perfil-img">
</div>

