/* You can add global styles to this file, and also import other style files */
:root {
    --color-fondo: #000051;
    --color-2: #00e5ff;
    --color-3 : #3f51b5;
    --texto: rgb(255, 255, 255);
    --texto-parrafo: rgb(193, 205, 216);
    --color-grupo: #0a0a64;
}

body{
    background-color: var(--color-fondo);
    font-family: 'Cabin', sans-serif;
    color: var(--texto);
}

 a, a:visited, a:hover, a:link {
    color: var(--texto);
}