:root {
    --color-fondo: #000051;
    --color-2: #00e5ff;
    --color-3 : #3f51b5;
    --texto: rgb(255, 255, 255);
    --texto-parrafo: rgb(193, 205, 216);
    --color-grupo: #0a0a64;
}

body{
    background-color: var(--color-fondo);
    font-family: 'Cabin', sans-serif;
    color: var(--texto);
}

 a, a:visited, a:hover, a:link {
    color: var(--texto);
}

/* Arreglo de Scroll */
.scroll {
    height: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }

  /* Tamaño del scroll */
  .scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }
  
   /* Estilos barra (thumb) de scroll */
  .scroll::-webkit-scrollbar-thumb {
    background: var(--texto);
    border-radius: 4px;
  }
  
  .scroll::-webkit-scrollbar-thumb:active {
    background-color: var(--texto);
  }
  
   /* Estilos track de scroll */
  .scroll::-webkit-scrollbar-track {
    background: var(--color-fondo);
    border-radius: 4px;
  }
  
  .scroll::-webkit-scrollbar-track:active {
    background: var(--color-fondo); /*Lo deo de referencia pero no lo uso*/
  }
  