/* Tema oscuro */
:root {
  --color-fondo: #1a1717;
  --texto-principal: #f5f5fd;
  --texto-parrafo: #b1b1d1;
  --fondo-contenido: #292323;
  --hover: #bb9a2c;
  --sombra-footer: #0a0a0a60;
  --sombra-menu: #0a0a0a60;
  --tema-b: #88858565;;
  --tema-bh: #d4ac27;
  --tema-lh: #030303;
  --trans-tema: 0.1s;
}

/* Tema claro */
.light {  
  --color-fondo: #fffbfb;
  --texto-principal: #272424;
  --texto-parrafo: #312b2b;
  --fondo-contenido: #f3eded;
  --hover: #2f8d71;
  --sombra-footer: #0f0f0f4b;
  --sombra-menu: #88858565;
  --tema-b: #88858565;
  --tema-bh: #226652;
  --tema-lh: #fdfdfd;
}

body{
    background-color: var(--color-fondo);
    font-family: 'Cabin', sans-serif;
    color: var(--texto-principal);
    cursor: default;
}

 a, a:visited, a:hover, a:link {
    color: var(--texto-principal);
}

/* Arreglo de Scroll */
.scroll {
  height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

/* Tamaño del scroll */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

 /* Estilos barra (thumb) de scroll */
.scroll::-webkit-scrollbar-thumb {
  background: var(--texto-principal);
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: var(--texto-principal);
}

 /* Estilos track de scroll */
.scroll::-webkit-scrollbar-track {
  background: var(--color-fondo);
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:active {
  background: var(--color-fondo); /*Lo deo de referencia pero no lo uso*/
}
  
*{
    transition: var(--trans-tema);
}