.pie-pagina{
    margin: 1rem 0 0 0;
    padding: 1rem 0;
    height: 4rem;
    text-align: center;
    background: linear-gradient(#213375, var(--color-fondo));
    animation-delay: 3.5s;
}

.enlaces{
    animation-delay: 4s;
}

.pgn{
    width: 2.5rem;
    margin: 0 1.5rem;
}

