.pie-pagina{
    height: 3rem;
    background: linear-gradient(var(--color-fondo), #1f3177);
    animation-delay: 3.7s;
}

.enlaces{
    animation-delay: 4.2s;
}

.links{
    justify-content: center;
    font-size: 2rem;
}

.block{
    padding: 0 2.5rem;
}

.hover{
    transition: 0.5s;
}

.hover:hover{
    color: var(--color-2);
}

