<div class="pie-pagina animate__animated animate__bounceIn">
    <div class="enlaces animate__animated animate__bounceInRight">
        <a href="https://www.linkedin.com/in/joséandressaavedraromero/" target="_blank"><img src="assets/Linkedin.png" class="pgn" alt="icono Linkedin"></a>
        <a href="https://github.com/Jasr24" target="_blank"><img src="assets/GitHub.png" class="pgn" alt="icono GitHub"></a>
        <a href="https://twitter.com/JarsGamer/likes" target="_blank"><img src="assets/Twitter.png" class="pgn" alt="icono Twitter"></a>
    </div>
</div>