.pie-pagina{
    height: 3rem;
    background: linear-gradient(var(--color-fondo), var(--sombra-footer));
    animation-delay: 1.5s;
}

.enlaces{
    animation-delay: 1.5s;
}

.links{
    justify-content: center;
    font-size: 2rem;
}

.block{
    padding: 0 2.5rem;
}

.hover{
    transition: 0.5s;
}

.hover:hover{
    color: var(--hover);
}

